In [ ]:
import pandas as pd

# Load cleaned data
df = pd.read_csv("hotel_bookings_cleaned.csv")

# Stratify by key columns (adjust weights if needed)
sampled_df = df.groupby(["is_canceled", "hotel"], group_keys=False)\
               .apply(lambda x: x.sample(frac=5000/len(df), random_state=42))

# Save sampled data
sampled_df.to_csv("hotel_bookings_sampled_5k.csv", index=False)

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_16872\2275507977.py:8: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda x: x.sample(frac=5000/len(df), random_state=42))

In [4]:
sampled_df.shape

(5000, 10)

In [5]:
sampled_df.tail(10)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,adr,stays_in_week_nights,stays_in_weekend_nights,country,revenue
4195,Resort Hotel,1,256,2016,June,87.0,6,4,PRT,870.0
2805,Resort Hotel,1,5,2016,January,61.0,3,1,PRT,244.0
4209,Resort Hotel,1,12,2016,June,109.0,1,0,PRT,109.0
4948,Resort Hotel,1,83,2016,August,216.5,4,1,PRT,1082.5
5545,Resort Hotel,1,116,2016,October,58.0,4,0,GBR,232.0
4651,Resort Hotel,1,25,2016,July,160.0,5,3,PRT,1280.0
4141,Resort Hotel,1,43,2016,June,165.0,3,0,PRT,495.0
6734,Resort Hotel,1,6,2017,March,35.0,0,1,PRT,35.0
3226,Resort Hotel,1,43,2016,March,81.0,3,0,PRT,243.0
3561,Resort Hotel,1,25,2016,April,87.0,1,0,PRT,87.0

In [6]:
sampled_df.head(10)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,adr,stays_in_week_nights,stays_in_weekend_nights,country,revenue
63764,City Hotel,0,30,2016,October,144.80,4,0,BRA,579.2
35400,City Hotel,0,142,2016,May,113.05,3,1,AUT,452.2
58564,City Hotel,0,177,2016,July,96.00,1,1,ITA,192.0
62124,City Hotel,0,224,2016,September,114.90,4,2,GBR,689.4
48641,City Hotel,0,23,2015,October,75.00,3,0,FRA,225.0
59839,City Hotel,0,272,2016,July,90.10,3,2,DEU,450.5
59527,City Hotel,0,96,2016,July,188.16,3,2,BRA,940.8
61692,City Hotel,0,85,2016,August,116.10,3,1,BEL,464.4
47191,City Hotel,0,0,2015,September,190.00,1,0,PRT,190.0
52654,City Hotel,0,42,2016,March,114.30,1,1,NLD,228.6